  #navbar{
    background-color: white;
    position:sticky;
    height: auto;
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.384);
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    /* background-color: rgb(159, 37, 37); */
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }
 
  #navbar > div {
    width: 90%;
    height: 50%;
    border: 0px solid black;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  #navbar > div > div {
    border: 0px solid black;
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid red; */
  }
  #navbar img{
    width: 50%;
    height: 100%;
    
  }
  i{
    font-size: 20px;
    color: black;
    cursor: pointer;
  }
  a{
    text-decoration: none;
  }

  /* #navbar div{
    position: relative;
    z-index: 0;
  } */

  

  form {
    width: 50%;
  }

  .hide {
    display: none;
  }

  .show {
    display: block;
  }
  #theButton {
    background-color: white;
    border: none;
    border: 0px solid black;
  }
  .right {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .button1 {
    background-color: white;
    border: none;
  }

  /* login */
   #box{
        width: 25%;
        height: auto;
        margin: auto;
        margin-top: 100px;
        text-align: center;
        /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
        z-index: 0;
    }
    /* button{
    display: block;
    width: 100%;
    padding: 10px;
  } */
  #fb{
    background-color:#3c55a2 ;
    color: white;
    display: block;
    width: 100%;
    padding: 10px;
    
    border: none;
  }
  #gol{
    margin-top: 20px;
    display: block;
    width: 100%;
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
  }
  #form{
    margin-top: 20px;
    width: 100%;
    padding: 5px;
  }
  input[type="email"],[type="password"],[type="text"],[type="number"]{
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    margin-top: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
    resize: vertical;
  }
  input[type="submit"]{
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    margin-top: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
    resize: vertical;
    color: white;
    background-color: black;
  }
  label{
    float: left;
  }
  #total {
    text-align: center;
   
    display: flex;
    justify-content: center;
  }
  .rate {
    font-family: sans-serif;
    font-weight: lighter;
     box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    width: 28%;
  }
  #checkout{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
  }
  #checkout>button{
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
    background-color: black;
    color: white;
    border-radius: 5px;
  }
  
  #container {
    width: 70%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  #container > div {
    text-align: center;
    width: 100%;
    height: auto;
    
  }
  #container>div>img{
    width: 100%;
    height: 50%;
  }
  #del{
    padding: 20px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
    background-color: black;
    color: white;
    border-radius: 5px;
  }
