  #navbar{
    position:sticky;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    /* z-index: 10; */
  }
 
  #navbar > div {
    width: 80%;
    height: 100%;
    /* border: 1px solid black; */
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  #navbar > div > div {
    width: 32%;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid red; */
  }
  #navbar>div>img{
    width: 100%;
    height: 100%;
  }
  i{
    font-size: 30px;
  }

  /* #navbar div{
    position: relative;
    z-index: 0;
  } */

  

  form {
    width: 50%;
  }

  .hide {
    display: none;
  }

  .show {
    display: block;
  }
  #theButton {
    background-color: white;
    border: none;
  }
  .right {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .button1 {
    background-color: white;
    border: none;
  }

  /* login */
   #box{
        width: 25%;
        height: auto;
        margin: auto;
        margin-top: 100px;
        text-align: center;
        /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
        z-index: 0;
    }
    /* button{
    display: block;
    width: 100%;
    padding: 10px;
  } */
  #fb{
    background-color:#3c55a2 ;
    color: white;
    display: block;
    width: 100%;
    padding: 10px;
  }
  #gol{
    margin-top: 20px;
    display: block;
    width: 100%;
    padding: 10px;
    background-color: red;
    color: white;
  }
  #form{
    margin-top: 20px;
    width: 100%;
    padding: 5px;
  }
  input[type="email"],[type="password"],[type="text"],[type="number"]{
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    margin-top: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
    resize: vertical;
  }
  input[type="submit"]{
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    margin-top: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
    resize: vertical;
    color: white;
    background-color: black;
  }
  label{
    float: left;
  }