* {
    box-sizing: border-box;
    font-family:"Montserrat";
    margin: 0;
    }

    img {
    vertical-align: middle;
    }
    .container {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      row-gap: 20px;

    }

    .mySlides>img{
      border-radius:15px
    }

    .row {
      display: flex;
      justify-content: space-between;

    }

 
    .column {
    
      width: 25%;
    
    }
    .column>img{
      border-radius: 15px;
    }

    #proContainer{
        width: 90%;
        margin: auto;
        display: flex;
        border: 0px solid black;
        justify-content: space-between;
    }
    #proContainer>div{
        width: 47%;
        border: 0px solid black;
    }
    .details{
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      text-align: center;
      padding: 10px;
    }
    .details>h1{
      margin-top: 0;
    }
    .details>p{
      margin-bottom: 0;
    }
    .details>small{
      
      border: 0px solid black;
    }
    .details>ul{
      text-align: start;
      border: 0px solid black;
      display: flex;
      flex-direction: column;
      row-gap: 25px;
    }
    ul>li{
      font-size: 20px;
      font-weight: 100;
    }
    #size{
      width: 50%;
      display: flex;
      justify-content: space-between;
      margin: auto;
     
    }
    #first{
      background-color: rgba(128, 128, 128, 0.052);
      padding: 15px;
      border:1.5px solid black;
      border-radius: 5px;
      
    }
    #second{
      display: flex;
      border:1px solid rgba(128, 128, 128, 0.852);
      width: 80px;
      justify-content: space-between;
      align-items: center;
    }
    #second>div{
      border:1px solid rgba(128, 128, 128, 0.334);
      width: 33%;
      height: 100%;
      padding: 12px;
    }
    /* poster - 1 */
    #poster1{
      margin-top: 20px;
      width: 100%;
      border: 0px solid black;
    }

    /* slider text */
    #text{
      display: flex;
      text-align: center;
      justify-content: space-around;
      border-bottom: 1px solid gray;
    }
    #slide1,#slide2,#slide3{
      border: none;
      width: 33%;
      height: 100%;
      padding: 20px;

    }
    #slide1:hover,#slide2:hover,#slide3:hover{
      background-color: gray;
      color: white;
    }
    

    #text>p{
      font-size: 20px;
      cursor: pointer;
    }

    #ingridiance{
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      text-align: center;
      margin: 20px 0 20px 0;
      padding: 20px;
    }

    /* faq section */
    .dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 1265px;
  }

  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    padding: 20px;
    
    background-color: #f1f1f1;
    min-width: 1265px;;
    overflow: auto;
   
  }

  .dropdown-content h3,p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    
  }

  .dropdown a:hover {background-color: #ddd;}

  .show {display: block;}

/* rituval section */
#topSection{
padding: 20px;
width:100%;
border: 0px solid black;

}
#topimgDiv{
height:100%;
width:80%;

margin: auto;
display: flex;
margin-top:1ch;
}
.topA{
height:100%;
width:21%;

margin: auto;
border-radius:5px;
}
.topA>#topimg{
  height:60%;
  width:100%;
  
}
#topimg a>img{
  height:100%;
  width:100%;
}
#topRating{
  height:8%;
  width:100%;
 
}
#ratingdiv{
  height:100%;
  width:50%;

  margin: auto;
  display: flex;
}
#star,#rating{
  height:100%;
  width:50%;
 
}
#star img{
  height:40%;
  width:30%;
  margin-left: 5ch;
}
#destop{
  height:15%;
  width:100%;
 
}
#destop>p{
  text-align: center;
  font-weight: 100;
}

#pricetop{
  height:6%;
  width:100%;
  
  text-align: center;
}
#cut{
  text-decoration: line-through;
}

#addtoCart{
  height:11%;
  width:100%;
 padding: 10px;
  background-color: #717171;
  color:white;
  text-align: center;
  cursor: pointer;
}

/* revieww */
#review{
  
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba(128, 128, 128, 0.452);
  border-bottom: 1px solid rgba(128, 128, 128, 0.452);
}
#review>img{
  width: 20%;
  margin: auto;

}

/* feedback */
.feedback{
  display: flex;
  column-gap: 30px;
  
  border-bottom: 1px solid rgba(128, 128, 128, 0.452);

}
.feedback>div{
  padding: 5px;
}
.feedback>div:nth-child(2){
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: flex-start;
  width: 75%;
  margin: auto;
}
.feedback>div>p,h2{
  border: 0px solid black;
  padding: 0;
}
